body {
    max-width: 960px;
    margin: 20px auto;
    display: grid;
    

    font-family: "New Century Schoolbook", "TeX Gyre Schola", serif;
    font-size: 16px;
    color: #000

}

.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr min-content;
}

header {
    grid-column: 1 / -1;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 26px;
    font-weight: bold;
    vertical-align: bottom;
    color: rgb(251, 255, 0);
    background-color: #000;
    border-style: solid;
    border-width: 2px;
    position: relative;
}

main {
    display: grid;
    grid-template-areas: 
    "header header"
    "introduction introduction"
    "environment"  "geography" 
     "people-and-society";
}

#introduction {
    grid-area:introduction ;

}

a,
a:link {
    color: rgb(8, 186, 91);
}

a,
a:visited {
    color: rgb(126, 33, 163);
}

a,
a:hover {
    color: rgb(224, 27, 27);
}

a,
a:active {
    color: rgb(239, 216, 8);
}

h1
h2
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500px;
}


figure {
    border: 1px solid #444;
    margin: 0;
    padding: 20px 20px 33px 20px;
    width: 230px;
    text-align: center;
}

img {
    border: 1px solid #444;
}

figcaption {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    text-align: left;
}



