body {
    font-family: "New Century Schoolbook", "TeX Gyre Schola", serif;
    font-size: 16px;
    color: #000
}

header {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 26px;
    font-weight: bold;
    vertical-align: bottom;
    color: #ffff7f;
    background-color: #000;
    border-style: solid;
    border-width: 2px;
    position: relative;
}

figure {
    border: 1px solid #444;
    margin: 0;
    padding: 20px 20px 33px 20px;
    width: 230px;
}

img {
    border: 1px solid #444;
}

figcaption {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    text-align: right;
}



