body {
    font-family: "New Century Schoolbook", "TeX Gyre Schola", serif;
    font-size: 16px;
    color: #000
}

header {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 26px;
    font-weight: bold;
    vertical-align: bottom;
    color: #ffff7f;
    background-color: #000;
    border-style: solid;
    border-width: 2px;
    position: relative;
}
 
#box {
    
    /*for around content in header section, 1520 x 315.75 static*/
    border: 2px outset #4f0202;
    }

div {
    display: inline-block;
    margin-top: -20px;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;

}



