body {
    font-family: "New Century Schoolbook", "TeX Gyre Schola", serif;
    font-size: 16px;
    color: #000
}

header {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 18px;
    font-weight: bold;
    line-height: 0.8;
    color: #ffff7f;
}
 
#box {
    background-color: #000;
    /*for around content in header section, 1520 x 315.75 static*/
    border: 2px outset #4f0202;
    }

div {
    text-align: center;
    margin-top: 0%;
    padding-block: 10px;


}

