body {
    margin: 40px;
    font-family: "New Century Schoolbook", "TeX Gyre Schola", serif;
    font-size: 16px;
    color: #000
 }


 header {
    grid-column: 1 / 3;
    grid-row: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 24px;
    font-style: normal;
    font-weight: bolder;
    vertical-align: bottom;
    color: rgb(251, 255, 0);
    background-color: #000;
    border-style: solid;
    border-width: 2px;
    position: relative;
}

footer {
    grid-column: 1 / 3;
    grid-row: 1;
}

nav,
footer {
    background-color: rgb(218, 241, 227);
}

section {
    background-color: rgb(218, 241, 227);
    padding: 20px;
}

article {
    background-color: rgb(218, 241, 227);
    padding: 20px;
}


a,
a:link {
    color: rgb(8, 186, 91);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-weight: bold;
}

a,
a:visited {
    color: rgb(126, 33, 163);
}

a,
a:hover {
    color: rgb(224, 27, 27);
}

a,
a:active {
    color: rgb(239, 216, 8);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgb(221, 221, 221);

}

tr:hover {background-color: rgb(115, 236, 139);}
th {
    background-color: rgb(164, 158, 158);
}

a,
h2,
h3,
h4
 { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500px; 
    font-weight: bold;
    text-transform: uppercase;
}

ul > li {
    list-style-type: square;
}

.first::first-letter{
    font-weight: bold;
}

.first::first-letter {
    font-size: 22px;
}

figure {
    border: 1px solid rgb(68, 68, 68);
    margin: 0;
    padding: 20px 20px 33px 20px;
    width: 230px;
    text-align: center;
}

img {
    border: 1px solid rgb(68, 68, 68);
}

figcaption {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    text-align: left;
}

#population {
    border: 1px dashed rgb(0, 0, 0);
}



