body {
    font-family: "New Century Schoolbook", "TeX Gyre Schola", serif;
    font-size: 16px;
    color: #000
}

header {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 26px;
    font-weight: bold;
    vertical-align: bottom;
    color: rgb(251, 255, 0);
    background-color: #000;
    border-style: solid;
    border-width: 2px;
    position: relative;
}

a,
a:link {
    color: rgb(8, 186, 91);
}

a,
a:visited {
    color: rgb(126, 33, 163);
}

a,
a:hover {
    color: rgb(224, 27, 27);
}

a,
a:active {
    color: rgb(239, 216, 8);
}

h1
h2
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500px;
}


figure {
    border: 1px solid #444;
    margin: 0;
    padding: 20px 20px 33px 20px;
    width: 230px;
}

img {
    border: 1px solid #444;
    text-align: center;
}

figcaption {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    text-align: left;
}



