head {
align-content: center;
height: 100%;
}

header {
font-family: "Luminari", "fantasy";
text-align: center;
}

h1 {
    font-family: "Luminari", "fantasy";
    font-style: oblique;
    font-weight: bold;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

