head {
align-content: center;
height: 100%;
}

header {
font-family: "Luminari", "fantasy";
text-align: center;
}

.headshot {
    border: 1px solid #777;
    margin: 0;
    padding: 20px 20px 30px 20px;
    width: 350px;
    float: right;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(120, 33, 202);
    background-color: rgb(120, 33, 202, 0.9);
    transition: 0.5s;

}

.overlay-content {
    display: block;
    padding: 8px;
    font-size: 36px;
    color: rgb(255, 255, 255);
}

.portrait {
 /*Portrait image*/
    background-image: url("images/portrait.jpg");

 /*Full height */
    height: 100%;

 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;

}

.portrait-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(254, 254, 254);
}


h1 {
    font-family: "Luminari", "fantasy";
    font-style: oblique;
    font-weight: bold;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

