@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400;0,500;0,800;1,700&family=Notable&display=swap');
head {
align-content: center;
height: 100%;
}

header {
font-family: 'Bebas Neue', 'Notable'; 
text-align: center;
}

.headshot {
    border: 1px solid #777;
    margin: 0;
    padding: 20px 20px 30px 20px;
    width: 350px;
    float: right;
}

body, html {
    height: 100%;
}


.navbar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.navbar a {
    float: left;
    font-size: 26px;
    color: rgb(244, 244, 244);
    font-family: 'Bebas Neue', 'Notable';
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    
}

.dropdown .dropbtn {
    font-size: 16px;
    color: rgb(250, 250, 250);
    background-color: inherit;
    font: inherit;
    margin: 0;
    font-family: 'Bebas Neue', 'Notable';
}

.dropdown-content {
    display: none;
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}

.dropdown-content .header {
    padding: 5px;
    font-family: 'Bebas Neue', 'Notable';
    color: rgb(250, 250, 250);
    font-size: 25px;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: rgb(200, 53, 173);
    font-family: 'Bebas Neue', 'Notable';
}

a,
a:visited {
    color: rgb(126, 33, 163);
}

a,
a:hover {
    color: rgb(200, 53, 173);
}

a,
a:active {
    color: rgb(5, 5, 5);
}

a,
a:link {
font: 25px;
    font-family: 'Bebas Neue', 'Notable';
}
.parent {
    position: relative;
}

.image1 {
    height: 100%;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
}

.image2 {
    position: absolute;
    top: 20%;
    left: 28%;
}


.image-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: (-50%, -50%);
}

.column {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items:start;
}



.column img {
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.column img:hover {
    opacity: 1;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.containter {
    border-radius: 5px;
    background-color: rgb(242, 242, 242);
    padding: 10px;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgb(254, 254, 254);
    font-size: 35px;
    cursor: pointer;
}

h1 {
    font-family: 'Bebas Neue', 'Notable';
    font-size: 85px;
    margin-bottom: 0;
    text-align: center;
    color: #9a2dd5;
}

h2 {
    font-family:'Eb Garamond','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h3 {
    font-style: oblique;
}

article {
    max-width: 300px;;
    padding: 10px;
    display: flex;
}



.first::first-letter{
    font-weight: bold;
    font-size: 22px;
}

main {
    font-family:'Eb Garamond','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(114, 204, 171);
    color: rgb(255, 254, 254);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(4, 10, 8);
}

.columns {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}

.top {
    font-family: 'Bebas Neue', 'Notable';
    color: rgb(0, 0, 0);
    font-size: 20px;
}