@import url(https://fonts.google.com/specimen/Bebas+Neue?query=bebas);
head {
align-content: center;
height: 100%;
}

header {
font-family: "Luminari", "fantasy";
text-align: center;
}

.headshot {
    border: 1px solid #777;
    margin: 0;
    padding: 20px 20px 30px 20px;
    width: 350px;
    float: right;
}

body, html {
    height: 100%;
}


.navbar {
    overflow: hidden;
    background-color: rgb(98, 10, 157);
}

.navbar a {
    float: left;
    font-size: 26px;
    color: rgb(244, 244, 244);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    
}

.dropdown .dropbtn {
    font-size: 16px;
    color: rgb(250, 250, 250);
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}

.dropdown-content .header {
    padding: 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: #c835ad;

}

.parent {
    position: relative;
}

.image1 {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image2 {
    position: absolute;
    top: 80%;
    left: 20%;
}


.image-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: (-50%, -50%);
}

.column {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items:start;
}



.column img {
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.column img:hover {
    opacity: 1;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.containter {
    position: relative;
    display: none;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgb(254, 254, 254);
    font-size: 35px;
    cursor: pointer;
}

h1 {
    font-family: "Bebas Neue";
    font-style: oblique;
    font-weight: bold;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

